*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}
/* Formulaire */
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4rem;
    align-items: center;
}
.form input{
    width: 100%;
    padding: 0.5rem;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #f9f9f9;
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
    overflow-y: auto;
    max-height: 200px;
    border: 1px solid #ddd;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #ddd;
}

.bloc_times{
    text-align: -webkit-center;

}

#prayer-times {
    background-image: url("../image/card_fond.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 650px;
    height: 650px;
    border-radius: 20px;
    padding-top: 4rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    place-content: center;
    align-items: center;
}


#prayer-times .times{
    background-color: #dfdfda;
    width: 50%;
    height: 50px;
}#prayer-times .shourouq_midnight{
    display: flex;
    gap: 10rem;
    color: #545454;
    font-size: 1.5rem;
 }
.barre_prayer{
    width: 50px;
    height: 5px;
    background-color:#545454;
}
.times{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #545454;
    font-weight: bold;
}
.midnight,.shourouq{
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}
