*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: #1F2125;
}
a{
    list-style: none;
    text-decoration: none;
    color: white;
}
/* Formulaire */
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.form input{
    width: 100%;
    padding: 0.5rem;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    scrollbar-width: thin;
    scrollbar-color: #b8b8b8 #edc9af;
}

.dropdown-content::-webkit-scrollbar {
    width: 12px;
    background-color: #f9f9f9;
}

.dropdown-content::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 10px;
}

.dropdown-content::-webkit-scrollbar-thumb:hover {
    background-color: #7f7f7f;
}

.dropdown-content::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

.dropdown-content::-webkit-scrollbar-track-piece {
    background-color: #f9f9f9;
}

.dropdown-content::-webkit-scrollbar-corner {
    background-color: #f9f9f9;
}

.dropdown-content::-webkit-scrollbar-button {
    background-color: #f9f9f9;
}

.dropdown-content::-webkit-scrollbar-button:hover {
    background-color: #b8b8b8;
}

.dropdown-content::-moz-scrollbar {
    width: 12px;
    background-color: #f9f9f9;
}

.dropdown-content::-moz-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 10px;
}

.dropdown-content::-moz-scrollbar-thumb:hover {
    background-color: #7f7f7f;
}

.dropdown-content::-moz-scrollbar-track {
    background-color: #f9f9f9;
}

.dropdown-content::-moz-scrollbar-track-piece {
    background-color: #f9f9f9;
}

.dropdown-content::-moz-scrollbar-corner {
    background-color: #f9f9f9;
}

.dropdown-content::-moz-scrollbar-button {
    background-color: #f9f9f9;
}

.dropdown-content::-moz-scrollbar-button:hover {
    background-color: #b8b8b8;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #f9f9f9;
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
    overflow-y: auto;
    max-height: 200px;
    border: 1px solid #ddd;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #ddd;
}

.bloc_times{
    text-align: -webkit-center;

}



#prayer-times {
    background-image: url("../image/card_fond.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 650px;
    height: 650px;
    border-radius: 20px;
    padding-top: 4rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    place-content: center;
    align-items: center;
}


#prayer-times .times{
    background-color: #dfdfda;
    width: 50%;
    height: 50px;
}
/*#prayer-times .shourouq_midnight{*/
/*    display: flex;*/
/*    gap: 10rem;*/
/*    color: #545454;*/
/*    font-size: 1.5rem;*/
/* }*/
.barre_prayer{
    width: 50px;
    height: 5px;
    background-color:#545454;
}
.times{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #545454;
    font-weight: bold;
}
/*.midnight,.shourouq{*/
/*    font-size: 14px;*/
/*    font-weight: bold;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 0.5rem;*/
/*    align-items: center;*/
/*}*/

/* Home */
.wrap_home {
    width:100%;
    max-width: 1000px;
    margin:0 auto;
    padding: 0 1rem;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../image/background.png");
    background-position: center;
    background-size: cover;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
 .img_logo2{
    width: 40%;
    cursor: pointer;
}
.wrap_home nav ul {
    display: flex;
   gap: 3rem;
    cursor: pointer
}
 .row{
     width:100%;
     max-width: 1300px;
     margin:0 auto;
     padding: 0 1rem;
    display: flex;
    height: 50%;
    gap: 3rem;
     text-align: -webkit-center;
 }

 .col2{
     width: 50%;
     display: flex;
    flex-direction: column;
     align-items: center;
     gap: 1rem;
     text-align: -webkit-center;
 }
.card h2{
    color: white;
    margin-top: 4rem;
}
.card p{
    font-weight: bold;
}
.row h1{
    color: #fff;
    font-size: 3rem;
}
.row p {
    color: white;
    text-align: -webkit-center;
}
.formulaire h1{
    font-size: 1rem;
    color: white;
}

.card{
    width: 180px;
    height: 210px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url("../image/fajr.png");
    background-size: cover;
    text-align: -webkit-center;
}
.fajr{
    background-image: url("../image/fajr.png");
}
.dhuhur{
    background-image: url("../image/dhor.png");
}
.asr{
    background-image: url("../image/asr.png");
}
.maghrib{
    background-image: url("../image/maghreb.png");
}
.isha{
    background-image: url("../image/isha.png");
}
.midnight{
    background-image: url("../image/midnight.png");
}

.card p {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.card p.show {
    opacity: 1;
}

/* Responsive  */

@media screen and (max-width: 1050px) {
    .container{height: 100vh;}
    .col2 {align-self: center;}
    .row{flex-direction: column;gap: 1rem; padding: 0rem;}
    .row .col2 .nn {white-space: nowrap;font-size: 2rem}
    .row .col2 p {display: none}
}

@media screen and (max-width: 670px) {
    .card {width: 149px;height: 180px;}
}
@media screen and (max-width: 390px) {
    .card {width: 132px;height: 166px;}
}

.srt-container {
    position: relative;
    display: inline-block;
}

.srt {
    max-height: 200px; /* Hauteur maximale de la liste des sourates */
    overflow-y: auto; /* Activation de la barre de défilement */
    scrollbar-width: thin; /* Largeur de la barre de défilement */
    scrollbar-color: #dcdcdc #888888; /* Couleurs de la barre de défilement (poignée et fond) */
    border: 1px solid #ccc; /* Bordure du filtre */
    border-radius: 4px; /* Bordures arrondies du filtre */
    padding: 1px; /* Espacement interne du filtre */
}

/* Style de la poignée de la barre de défilement */
.srt::-webkit-scrollbar-thumb {
    background-color: #888888;
}

/* Style du fond de la barre de défilement */
.srt::-webkit-scrollbar-track {
    background-color: #dcdcdc;
}
.sourate-list{
    cursor: pointer;
}
.entete{
    display: flex;
    justify-content: space-around;
    background-color: #343A40;
    color: white;
    padding: 1rem;
    align-items: center;

}


footer{
    background-color: black ;
    height: 4rem;
    width: 100%;
    text-align: -webkit-center;
    padding: 1rem;
    color: white;
}
footer p{
    margin-top: 1.3rem;
}
.wrap_srt{
    color: white;
}
.bm{
    background-color: #1F2125;
    width:100%;
    max-width: 1000px;
    margin:0 auto;
    padding: 0 1rem;
}

.arabic_vrs{
    font-size: 3rem;
    text-align: end;
}
.entete #search-input{
    background-color: transparent;
    color: #FFFFFF; /* Couleur du texte */
    border: none;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.entete #search-input::placeholder{
    color: white;
    caret-color: transparent;
}
#search-input:focus {
    outline: none;
    border: none;
    /* Autres styles personnalisés */
}

.btn-verse {

    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.btn-loop {
    cursor: pointer;
    transition: all0.4s;
}
.my-4{
    margin-bottom: 0.5rem;
}


#launch-button{
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 1rem;
}
.highlight {
    color: #FFD700;
    transition: all 0.4s;
}

.green-icon {
    color: green;
}.progress-container {
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     height: 40px;
     background-color: #343A40;
     position: fixed;
     bottom: 0;
     left: 0;
 }


.play-button,
.pause-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    flex: 1;
    height: 10px;
}


.progress {
    width: 0;
    height: 100%;
    background-color: white;
}

.play-button button,
.pause-button button {
margin-left: 5rem;
    margin-right: 5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.play-button button i,
.pause-button button i {
    color: white;
    font-size: 16px;
}